/* Logo Font */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

/* Logo & Body Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Spline+Sans&display=swap');

body {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}
/* ScrollTop */
.scroll-component {
    opacity: 0;
    transition: visibility 0s, opacity .5s ease-in;
}
.scroll-component.visible {
    opacity: 1;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #0284c7;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}