/* Logo Font */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

/* Logo & Body Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Spline+Sans&display=swap');

body {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}
.strokeline:before, .strokeline-w:before {
    content: "";
    width: 3rem;
    height: 4px;
    display: flex;
    margin: 0 .75rem 0 0;
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #0284c7 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(2 132 199 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-from-position: -10px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.strokeline-w:before {
    --tw-gradient-from: #fff var(--tw-gradient-from-position);
}